.input-default {
  border: none;
  border-radius: var(--size-radius);
  background-color: var(--color-eighth);
  color: var(--color-base);
  font-size: var(--size-small);
  font-weight: 300;
  padding-left: var(--spacing-smaller);
  box-sizing: border-box;
  font-family: inherit;
}

.input-default::placeholder {
  text-transform: capitalize;
  opacity: 1;
}