.button-default {
  background-color: var(--color-third);
  font-family: inherit;
  font-size: var(--size-small);
  font-weight: 300;
  border: none;
  border-radius: var( --size-radius);
  text-transform: uppercase;
  text-align: center;
  color: var(--color-base);
}