.menu-wrapper {
  width: 530px;
}

.menu-list {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.menu-list .menu-item {
  text-decoration: none;
  color: var(--color-second);
  font-size: var(--size-small);
}

.menu-items:hover .menu-item:not(.-active) {
  color: var(--color-seventh);
}

.menu-item.-active {
  color: var(--color-third);
}