.card-default {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.-card-three .figure-default {
  width: 100%;
  height: 50%;
}

.-card-three .text-box {
  flex-basis: 100%;
  padding-right: 0;
}

.-card-three .title-box {
  font-size: 16px;
}

.-card-three .paragraph-box {
  font-size: 14px;
}

.-card-three .button-default {
  width: 130px;
  height: 33px;
}