
.bullet {
  display: block;
  width: 17px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--color-third);
  border: 3px var(--color-third) solid;
  box-sizing: border-box;
}

.bullet:hover:not(.-active) {
  border-color: var(--color-seventh);
  background-color: var(--color-seventh);
  cursor: pointer; 
}

.bullet.-active {
  background-color: var(--color-base);
}
