.header {
  width: 100%;
  height: 150px;
  border-top: var(--color-third) 6px solid;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 0px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.header .form-default {
  width: 294px;
  height: 35px;
  justify-self: end;
}

.header .form-default .input-default {
  width: 220px;
  height: 33px;
  margin-right: 4px;
}

.header .form-default .button-default {
  width: 70px;
  height: 33px;
}

.header .figure-default .img-log {
  display: block;
  width: 156px;
}