:root {
  --color-base: #FFFFFF;
  --color-first: #4A4A4A;
  --color-second: #999999;
  --color-third: #3BAFBE;
  --color-fourth: #1F1F1F;
  --color-sixth: #666666;
  --color-seventh: #EE802F;
  --color-eighth: #333333;
  --color-nineth: #E2E2E2;
}