.section-default {
  box-sizing: border-box;
  height: 370px;
  position: relative;
}

.section-default::after{
  content:""; 
  position: absolute; 
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 960px;
  border-bottom: var(--color-nineth) 1px solid;
}

.section-default .carousel-wrapper{
  margin-top: 50px;
}

.section-default.-section-three-cards {
  display: flex;
  justify-content: space-around;
  height: 460px;
  
}

.section-default.-section-three-cards .card-default.-card-three {
  width: 30%;
  height: 80%;
  box-sizing: border-box;
  margin-top: 40px;
}